# dataset
data/scanrefer*
data/ScanRefer*
data/glove*
data/scannet/scannet_data
data/scannet/scans
data/scannetv2_enet.pth

# cache
data/scannet/__pycache__
lib/__pycache__
lib/pointnet2/__pycache__
models/__pycache__
utils/__pycache__
.DS_Store

# pointnet2
lib/pointnet2/build/
lib/pointnet2/dist/
lib/pointnet2/pointnet2.egg-info/

# output
outputs/

# delete
docs/.DS_Store
demo/.DS_Store

# misc
upload/